* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 235, 231);
}

.contenedor {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

header {
    grid-column: 1 / span 2;
    height: 100px;
    background-color: #7d7dd8;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header img {
    width: 280px;
}

.nombreUsuario {
    position: absolute;
    left: 20px;
    top: 29px;
}

.nombreUsuario i {
    color: rgb(210, 202, 255);
    font-size: 36px;
}

.cerrarSesion {
    position: absolute;
    right: 20px;
    top: 32px;
}

.cerrarSesion a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.cerrarSesion i {
    color: rgb(212, 215, 250);
    font-size: 28px;
    cursor: pointer;
}

.contenedor aside {
    grid-column: 1;
    background-color: #c5d7f3;
    border-radius: 6px;
}

.opciones {
    padding-top: 30px;
}

.opciones a {
    display: block;
    width: 100%;
    padding: 18px;
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
}

.opciones a i {
    color: #6b2d91;
    font-size: 22px;
    margin-right: 11px;
}

.opciones a:hover {
    border: 2px solid rgb(90, 90, 177);
    border-radius: 20px;
}

.contenedor main {
    grid-column: 2;
    padding: 30px;
    min-width: 0;
}

.contenedor h1,
.contenedor h2 {
    color: #1f3f8c;
}

.contenedor h1 {
    text-align: center;
    margin-bottom: 30px;
}

.infoProveedor {
    border: 2px dotted #7d7dd8;
    padding: 15px;
    border-radius: 20px;
}

.infoProveedor p {
    margin-left: 10px;
    margin-top: 10px;
}

.infoProveedor h2 {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 18px;
    background-color: #bdbbe3;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.table-responsive {
    border-collapse: separate !important;
    width: 100%;
    white-space: nowrap;
}

.table-responsive th {
    background-color: #8b8bda !important;
    border: 2px solid #8b8bda;
    color: white;
}

.table-responsive td {
    border: 2px solid #8b8bda;
    border-radius: 9px;
}

.notis {
    padding: 15px;
    background-color: rgb(183, 170, 209);
    border: 2px solid rgb(90, 90, 177);
    border-radius: 20px;
    font-weight: bold;
    min-height: 110px;
}

.notis i {
    color: #1f3f8c;
    font-size: 22px;
}

.buscarOrden {
    width: 100%;
    max-width: 1160px;
    position: relative;
}

.buscarOrden input {
    width: 100%;
    height: 45px;
    border-radius: 9px;
    padding: 10px 45px 10px 15px;
    border: 2px solid rgb(90, 90, 177);
}

.buscarOrden i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #1f3f8c;
    pointer-events: none;
}

.table-responsive td a {
    background-color: #4e0f5e !important;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 9px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s ease;
    display: inline-block;
}



.ordenesCompra td a:hover {
    background-color: #ae48d7;
    color: black;
}

.resumen {
    padding: 20px;
    width: 240px;
    border: 3px solid purple;
    border-radius: 9px;
    background-color: #bdbbe3;
    text-align: center;
    font-family: Cambria, Georgia, serif;
}

.numeroOrden {
    border: 4px dotted #7d7dd8;
    border-radius: 20px;
    padding: 20px !important;
}

.numeroOrden h2 {
    color: rgb(35, 5, 143);
    font-size: 24px;
    margin-left: 18px;
}

.si, .no {
    display: inline-block;
    padding: 6px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.si {
    background-color: rgb(144, 226, 187);
    color: green !important;
    margin-right: 10px;
}

.si:hover {
    background-color: #062f08;
    color: white !important;
}

.no {
    background-color: #e490a9;
    color: #780f24 !important;
}

.no:hover {
    background-color: #780f24;
    color: white !important;
}

.confirmaRechaza {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
}

.confirmaRechaza button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.confirmaOrden {
    background-color: rgb(9, 66, 38);
    color: white;
}

.confirmaOrden:hover {
    background-color: #062f08;
}

.rechazaOrden {
    background-color: #651a31;
    color: white;
}

.rechazaOrden:hover {
    background-color: #863344;
}

.confir {
    background-color: #87e6aa !important;
    color: rgb(3, 12, 54) !important;
    font-weight: bold;
}

.rechaza {
    background-color: #e7aca0 !important;
    color: rgb(3, 12, 54) !important;
    font-weight: bold;
}

.pendiente {
    background-color: #f5d881 !important;
    color: rgb(3, 12, 54) !important;
    font-weight: bold;
}



.cabecera-tabla{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

.tituloProveedores{

    background-color: rgb(207, 209, 226);
    padding: 5px;
    border-radius: 20px;
    width: 50%;
    border-right: 5px solid rgb(127, 149, 195);
    border-top: 10px solid rgb(127, 149, 195);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.50);
    margin-bottom: 30px;
}

.tituloProveedores h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tituloProveedores p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    color: #1f3f8c;
}






#menu {
    display: none;
}

.menus {
    display: none;
}

@media (max-width: 768px) {
    .contenedor {
        display: block;
    }

    .menus {
        display: block;
        position: absolute;
        top: 32px;
        left: 20px;
        z-index: 3000;
        font-size: 35px;
        color: white;
        cursor: pointer;
    }

    .contenedor aside {
        position: fixed;
        top: 0;
        left: -100%;
        width: 220px;
        height: 100vh;
        background-color: #c5d7f3;
        z-index: 2000;
        transition: left .4s ease;
    }

    .opciones {
        margin-top: 60px;
    }

    #menu:checked ~ .contenedor aside {
        left: 0;
    }

    .contenedor header {
        height: 100px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .contenedor header img {
        width: 200px;
    }

    .nombreUsuario {
        position: absolute;
        left: auto;
        right: 70px;
        top: 32px;
    }

    .cerrarSesion {
        position: absolute;
        right: 20px;
        top: 35px;
    }

    .contenedor main {
        padding: 15px;
    }
}